* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  font-family: Roboto;
  font-size: 16px;
  padding: 50px 54px;
}
.chart-suisse,
.chart-etatsunis,
.chart-europe {
  display: flex;
  align-items: center;

  gap: 20px;
  align-self: stretch;
}
.label {
  width: 100px;
}
.bar {
  display: flex;
  height: 45px;
  overflow: hidden;
  gap: 2px;
}

.mobile {
  background: #ffc233;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop {
  background: #35d3c9;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile.w65 {
  width: 195px;
  height: 30px;
}
.desktop.w35 {
  width: 105px;
  height: 30px;
}

.mobile.w51 {
  width: 153px;
  height: 30px;
}
.desktop.w49 {
  width: 147px;
  height: 30px;
}
.mobile.w41 {
  width: 123px;
  height: 30px;
}
.desktop.w59 {
  width: 177px;
  height: 30px;
}
.legend {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.legend .box {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ffc233;
  margin-right: 5px;
}
.legend .box.Desktop {
  background-color: #35d3c9;
}
